body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #AABBCC;
}

h2 {border-bottom: 5px;

}

.navbar-default {
  background-color: #FFCD33;
  border-color: #FFCD33;
}

.navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
}
.bord{border-style: solid;}